<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div>Logging in...</div>
    <div class="data"><%= data%></div>
    <div class="sysType"><%= sysType%></div>

    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery-confirm/jquery-confirm.js"></script>
    <script src="./javascripts/jquery-confirm/custom-confirm.js"></script>
    <script src="./javascripts/axios/axios.min.js"></script>
    <script src="/callback/callback.js"></script>
</body>
</html>