<!DOCTYPE html>
<html>
<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./javascripts/leaflet/leaflet.css">
  <link rel="stylesheet" href="./javascripts/leaflet/leaflet-contextmenu.css">
  <link rel="stylesheet" href="./javascripts/layui-v2.5.4/layui/css/layui.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div id="map"></div>
  <div class="left-nav">
    <ul class="layui-nav layui-nav-tree" lay-filter="">
      <li class="layui-nav-item"><img src="./images/menu_icon/ccp_grey.png"></li>
      <li class="layui-nav-item"><img src="./images/menu_icon/ambulance_grey.png"></li>
      <li class="layui-nav-item"><img src="./images/menu_icon/hospital_grey.png"></li>
      <li class="layui-nav-item active"><img src="./images/menu_icon/incident_blue.png"></li>
    </ul>
  </div>

  <script type="text/html" id="template">
    <div class="right-form">
      <div class="layui-collapse">
        <div class="layui-colla-item">
          <h2 class="layui-colla-title">Create Incident <img src="./images/menu_icon/icon_down.png"></h2>
          <div class="layui-colla-content layui-show">
            <form class="layui-form" action="">
              <div class="layui-form-item layui-hide">
                <label class="layui-form-label">Incident No:</label>
                <div class="layui-input-block">
                  <input type="text" name="dtg" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">DTG:</label>
                <div class="layui-input-block">
                  <input type="text" id="dtg" name="dtg" required  lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Rank & Name:</label>
                <div class="layui-input-block">
                  <input type="text" name="rank" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Unit:</label>
                  <div class="layui-input-block">
                    <select name="unit" lay-verify="required">
                      <option value=""></option>
                      <option value="unit1">unit1</option>
                      <option value="unit2">unit2</option>
                      <option value="unit3">unit3</option>
                    </select>
                  </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Contact No:</label>
                <div class="layui-input-block">
                  <input type="text" name="contact_no" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Nature Of Incident:</label>
                <div class="layui-input-block">
                  <select name="nature_of_incident" lay-verify="required">
                    <option value=""></option>
                    <option value="DEATH">DEATH</option>
                    <option value="ATTEMPT SUICIDE">ATTEMPT SUICIDE</option>
                    <option value="PERSON TRAPPED/PINNED">PERSON TRAPPED/PINNED</option>
                    <option value="UNCONCIOUS/FAINTED">UNCONCIOUS/FAINTED</option>
                    <option value="BREATHLESS">BREATHLESS</option>
                    <option value="SEVERE BURN">SEVERE BURN</option>
                    <option value="SMOKE INHALATION">SMOKE INHALATION</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Location Of Incident:</label>
                <div class="layui-input-block">
                  <input type="text" name="location" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input" disabled>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Activation Location:</label>
                <div class="layui-input-block">
                  <input type="text" name="activation_location" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <!--<div class="layui-form-item">
                <label class="layui-form-label">Number Of Casualties:</label>
                <div class="layui-input-block">
                  <input type="text" name="number_of_casualties" required lay-verify="required|number" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Incident Description:</label>
                <div class="layui-input-block">
                  <textarea name="incident_desc" placeholder="Please enter" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Casualty Condition:</label>
                <div class="layui-input-block">
                  <select name="casualty_condition" lay-verify="required">
                    <option value=""></option>
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Location Name:</label>
                <div class="layui-input-block">
                  <input type="text" name="location_name" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Primary Activation:</label>
                <div class="layui-input-block">
                  <input type="text" name="primary_activation" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Secondary Activation:</label>
                <div class="layui-input-block">
                  <input type="text" name="secondary_activation" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Reserve Activation:</label>
                <div class="layui-input-block">
                  <input type="text" name="reserve_activation" required lay-verify="required" placeholder="Please enter" autocomplete="off" class="layui-input">
                </div>
              </div>-->
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn cancel-create">Cancel</button>
                  <button class="layui-btn" lay-submit lay-filter="submit-incident">Confirm</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script src="./javascripts/jquery-1.12.0.min.js"></script>
  <script src="./javascripts/axios.min.js"></script>
  <script src="./javascripts/leaflet/leaflet.js"></script>
  <script src="./javascripts/leaflet/leaflet-contextmenu.js"></script>
  <script src="./javascripts/layui-v2.5.4/layui/layui.js"></script>

  <script src="./js/incident.js"></script>
  <script src="./js/map.js"></script>
</body>
</html>