<!-- css -->
<link rel="stylesheet" href="../javascripts/leaflet/leaflet.css">
<link rel="stylesheet" href="../javascripts/leaflet/L.Control.Shapefile.css">
<link rel="stylesheet" href="../javascripts/leaflet/leaflet-contextmenu.css">
<link rel="stylesheet" href="../javascripts/bootstrap-4.6.0-dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="../javascripts/jquery-confirm/jquery-confirm.css">
<link rel="stylesheet" href="../javascripts/tickerNews/theme.css">
<link rel="stylesheet" href="../monitor/monitor.css">
<link rel="stylesheet" href="../stylesheets/style.css">
<!-- js -->
<script type="text/javascript" src="../javascripts/leaflet/leaflet.js"></script>
<script type="text/javascript" src="../javascripts/leaflet/leaflet-tilelayer-wmts-src.js"></script>
<script type="text/javascript" src="../javascripts/leaflet/leaflet-contextmenu.js"></script>

<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/axios/axios.min.js"></script>
<script type="text/javascript" src="../javascripts/moment.min.js"></script>
<script type="text/javascript" src="../javascripts/bootstrap-4.6.0-dist/js/popper.js"></script>
<script type="text/javascript" src="../javascripts/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery-confirm/jquery-confirm.js"></script>
<script type="text/javascript" src="../javascripts/jquery-confirm/custom-confirm.js"></script>
<script type="text/javascript" src="../javascripts/tickerNews/jquery.tickerNews.min.js"></script>
<script type="text/javascript" src="../map/mapUtils.js"></script>
<script type="text/javascript" src="../monitor/monitor.js"></script>

<div id="map"></div>

<div class="fixed-top track-container text-white">
    <div class="container-fluid">
        <div class="row justify-content-center text-white">
            <div class="col-12 pt-3 pb-3">
                <div class="btn-group btn-group-xl w-100 group-dp" role="group">
                    <button class="btn btn-driver"><img src="../monitor/images/drivers.png" class="mr-2"><span>Drivers</span></button>
                    <button class="btn btn-passenger"><img src="../monitor/images/passenger-white.png" class="mr-2"><span>Requester</span></button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="driver" placeholder="Search Driver...">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="border-left: 0;">
                            <img src="../monitor/images/search.png" class="mt-1">
                        </div>
                    </div>

                </div>
                <div class="form-inline">
                    <span>Sort By</span>
                    <div class="dropdown pl-2">
                        <button class="dropdown-toggle btn btn-sm btn-outline-white" data-toggle="dropdown" aria-expanded="false">Status</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="sort-dropdown-menu">
                            <a class="dropdown-item" href="#">Status</a>
                            <a class="dropdown-item" href="#" id="a-username">Driver Name</a>
                            <a class="dropdown-item" href="#">Task Id</a>
                            <a class="dropdown-item" href="#">Start Time</a>
                            <a class="dropdown-item" href="#">End Time</a>
                        </div>
                    </div>
                    <div class="position-absolute" style="right: 15px">
                        <button class="btn btn-sm btn-primary" id="filter">Filter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="driver-foot col-12">
                <div class="form-inline">
                    <div><span class="font-weight-bold fontsize20">Assigned</span></div>
                    <div class="position-absolute" style="right: 30px"><span class="font-weight-bold fontsize18 text-white" id="assignedNum"></span></div>
                </div>
                <div class="assigned-info mt-2">
                </div>
                <div class="form-inline">
                    <div><span class="font-weight-bold fontsize20">Completed</span></div>
                    <div class="position-absolute" style="right: 30px"><span class="font-weight-bold fontsize18 text-white" id="completedNum"></span></div>
                </div>
                <div class="completed-info mt-2">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="track-container-right text-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="mt-2">
                <div><span class="fontsize20 font-weight-bold">Notification</span></div>
                <div class="btn-group btn-group-md mt-2" role="group">
                    <button class="btn btn-outline-white">Safety<span class="badge badge-dark ml-2">4</span></button>
                    <button class="btn btn-outline-warning">Incident<span class="badge badge-dark ml-2">4</span></button>
                    <button class="btn btn-outline-white">Traffic<span class="badge badge-dark ml-2">4</span></button>
                </div>
            </div>
        </div>

        <div class="row text-black justify-content-center">
            <div class="track-foot col-11 m-3">
                <div class="notification-info">
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 1</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 2</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 3</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 4</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 5</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 6</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 7</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 8</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 9</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom ack-height">
                        <div class="row h-100">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="../monitor/images/ack.png">
                            </div>
                            <div class="col-md-7">
                                <span class="fontsize18">Incident 10</span><br><span class="text-time fontsize12">12/07/2021 12:00</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <button class="btn btn-sm btn-primary">Ack</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="TickerNews default_theme_2">
    <div class="news-img">
        <img src="../monitor/images/news.png" class="align-items-center">
    </div>
    <div class="leftside">
        <div class="critical-title"><span>Critical News</span></div>
        <h4 id="current-time"></h4>
    </div>
    <div class="ti_wrapper TickerNews-hidden">
        <div class="ti_slide">

        </div>
    </div>
</div>