<!-- Leaflet Map -->
<link rel="stylesheet" href="../javascripts/leaflet/leaflet.css">
<link rel="stylesheet" href="../javascripts/leaflet/L.Control.Shapefile.css">
<link rel="stylesheet" href="../javascripts/leaflet/leaflet-contextmenu.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../javascripts/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../javascripts/layui/css/layui.css">
<link rel="stylesheet" href="../routes/routes.css">

<script type="text/javascript" src="../javascripts/leaflet/leaflet.js"></script>
<script type="text/javascript" src="../javascripts/leaflet/leaflet-tilelayer-wmts-src.js"></script>
<script type="text/javascript" src="../javascripts/leaflet/leaflet-contextmenu.js"></script>

<script type="text/javascript" src="../javascripts/layui/layui.js"></script>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/axios/axios.min.js"></script>
<script type="text/javascript" src="../javascripts/moment.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../javascripts/datatables/jquery.dataTables.min.js"></script>
<script src="../javascripts/datatables/dataTables.bootstrap4.min.js"></script>

<script src="../javascripts/jquery-confirm/jquery-confirm.js"></script>
<script src="../javascripts/jquery-confirm/custom-confirm.js"></script>

<script src="../js/pageHelper.js"></script>
<script type="text/javascript" src="../map/mapUtils.js"></script>
<script type="text/javascript" src="../routes/routes.js"></script>

<div class="container-fluid">
    <div class="p-3">
        <div style="text-align: right;padding-right: 1em;padding-top: 1em;">
            <button class="btn btn-primary btn-sm addNewRoute">Add New Route</button>
        </div>

        <div class="row task-table">
            <div class="w-100">
                <table class="table table-hover center w-100 text-center">
                    <thead class="thead-light">

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="map-content bg-white w-100 fixed-top h-100 pl-3 pr-3 rounded invisible">
    <div id="map" class="h-100"></div>
    <div class="content-create-route h-100 mr-3">
        <div class="m-2">Create Route</div>
        <div style="background-color: rgba(66,133,244,0.6);height: 100px;">
            <table class="w-100 h-100" style="border-collapse:separate;border-spacing:0px 10px;">
                <tr>
                    <td>
                        <img src="../routes/images/icon-start.png" class="start_marker" style="width: 17px; cursor: pointer;margin-bottom: 5px;margin-left: 3px;" />
                    </td>
                    <td>
                        <input class="start_point" placeholder="Start Position" value="" style="padding-left: 5%;width: 90%;background-color:transparent;border: 0px;color: white;font-size: 13px;outline: none;"/>
                        <div class="position-names start-point-position-names">
                        </div>
                        <div style="width: 100%;height: 0.5px;background-color: white;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../routes/images/icon-end.png" class="end_marker" style="width: 25px; cursor: pointer;margin-bottom: 5px;" />
                    </td>
                    <td>
                        <input class="end_point" placeholder="End Position" value="" style="padding-left: 5%;width: 90%;background-color:transparent;border: 0px;color: white;font-size: 13px;outline: none;"/>
                        <div class="position-names end-point-position-names">
                        </div>
                        <div style="width: 100%;height: 0.5px;background-color: white;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 5%;margin-top: 20px;">
            <label style="font-size: 13px;">Route Name:</label>
            <input class="route-name" placeholder="Route Name"/>
        </div>
        <div style="width: 100%;height: 2px;background-color: gray;margin-top: 10px;"></div>
        <div style="margin-left: 5%;margin-top: 15px;font-size: 13px;">
            <label>Waypoints:</label>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm convoy-btn add-point" onclick="addPoint();">+</button>
            <button type="button" class="btn btn-primary btn-sm convoy-btn create-new-point"></button>
        </div>

        <script type="text/javascript" src="../javascripts/dragArrange/drag-arrange.js"></script>

        <link rel="stylesheet" href="./javascripts/dragArrange/drag-arrange.css">
        <div style="width: 99%;margin-top: 10px;height: 10%;overflow: auto;" class="div-way-point-list">
            <ul class="drag-list way-points" style="width: 98%;">
            </ul>
        </div>
        <div style="margin-left: 5%;margin-top: 30px;">
            <label style="font-size: 13px;">Route Color:</label>
            <div style="margin-top: 10px;height: 25px;">
                <table class="color-picker" style="width: 90%;text-align: center;margin-left: 5%;">
                    <tr>
                        <td><div color="#ff0000" class="line-color line-color-selected" style="background-color: red;"></div></td>
                        <td><div color="#0000ff" class="line-color" style="background-color: blue;"></div></td>
                        <td><div color="#008000" class="line-color" style="background-color: green;"></div></td>
                        <td><div color="#ffa500" class="line-color" style="background-color: orange;"></div></td>
                        <td><div color="#800080" class="line-color" style="background-color: purple;"></div></td>
                    </tr>
                </table>
            </div>
            <div style="height: 20px;"></div>
            <label style="font-size: 13px;">Choose Color:</label><br>
            <div id="route_color" class="route_color" style="margin-top: 6px;margin-left: 10px;"></div>
        </div>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-secondary btn-sm cancel-button cancel-create-route">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm create-route ml-3">Confirm</button>
        </div>
    </div>
</div>




