<div class="modal fade" id="urgentModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-header modal-header-background">
                <h5 class="modal-title">Create Urgent Indent</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center m-2">
                    <div class="col-12">
                        <form>
                            <div class="mb-3" id="urgent-unit-select">
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="resource" id="resource1"
                                        value="Ford Everest OUV" checked>
                                    <label for="resource" class="form-check-label" for="resource1">Ford Everest OUV/Agilis (Auto)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="resource" id="resource2"
                                        value="5 Ton GS (Auto)">
                                    <label for="resource" class="form-check-label" for="resource2">5 Ton GS (Auto)/6 Ton GS</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <span class="col-form-label fw-bold">Date:</span>
                                <span class="col-form-label" name="date"></span>
                            </div>
                            <div class="mb-3 row" id="time-select">
                                <span class="col-form-label fw-bold">Time:</span>
                                <div class="form-group">
                                    <button type="button" class="btn btn-outline-success rounded-pill mb-2 time1" data-start="09:30"
                                        data-end="11:30">09:30H to 11:30H</button>
                                    <button type="button" class="btn btn-outline-success rounded-pill mb-2 time2" data-start="12:30"
                                        data-end="14:30">12:30H to 14:30H</button>
                                    <button type="button" class="btn btn-outline-success rounded-pill mb-2 time3" data-start="15:00"
                                        data-end="17:00">15:00H to 17:00H</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <span class="col-form-label fw-bold">Unit Location:</span>
                                <div class="position-relative">
                                    <!-- <input type="text" class="form-select" id="reportingLocationInput"
                                        name="reportingLocation" autocomplete="off" readonly
                                        onclick="reportingLocationOnFocus(this)">
                                    <div class="urgent-select shadow" id="reportingLocationSearchDiv"
                                        style="width:100%;">
                                        <input type="text" class="form-control" id="reportingLocationSearch"
                                            autocomplete="off" placeholder="Search"
                                            onkeyup="DestinationSearchKeyUp(this)">
                                        <div class="form-search-select">

                                        </div>
                                    </div> -->
                                    <input type="text" class="form-control" name="reportingLocation" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="poc" class="col-form-label fw-bold">POC:</label>
                                <input type="text" class="form-control" name="poc" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="mobileNumber" class="col-form-label fw-bold">Mobile Number:</label>
                                <div class="input-group">
                                    <span class="input-group-text">+65</span>
                                    <input type="text" class="form-control" name="mobileNumber" autocomplete="off"
                                        onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <span>If your unit resides in a camp without a Transport Node, please expect delay on arrival timing.</span>
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-auto action-button">
                        <button type="button" class="btn btn-system" name="urgent-submit">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>