<div class="modal fade" id="invoiceDetailModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-header modal-header-background">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-invoice-detail" aria-hidden="true">
                    <!-- <thead>
                        <tr>
                            <th scope="col">Indent ID</th>
                            <th scope="col">Name of Supplier</th>
                            <th scope="col">Requesting Unit</th>
                            <th scope="col">Service Mode</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Execution Date</th>
                            <th scope="col">Execution Time</th>
                            <th scope="col">Duration</th>
                            <th scope="col">No. of Vehicle</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Pickup Point</th>
                            <th scope="col">Dropoff Point</th>
                            <th scope="col">Category of Contract</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Surcharge</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
</div>