<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<title>check list</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/javascripts/jquery-confirm/jquery-confirm.css">

		<script src="/javascripts/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/javascripts/axios/axios.min.js"></script>
		<script src="/javascripts/moment.min.js"></script>
		<script src="/javascripts/jquery-confirm/jquery-confirm.js"></script>
		<script src="/javascripts/jquery-confirm/custom-confirm.js"></script>
		<script src="/javascripts/jSignature.min.js"></script>

		<link rel="icon" href="data:;base64,=">
		<script src="/mobile/task/task.js"></script>
		<script src="/mobile/task/script.js"></script>
		<script src="/mobile/common.js"></script>

		<style type="text/css">
			* {
				margin: 0;
				padding: 0; 
				border: 0;
			}
			body {
				overflow-x: hidden;
			}
			tr,td,th{
				border:1px solid;
				height: 30px;
				vertical-align:middle;
			}
			th {
				background-color: rgb(234, 238, 238);
			}
			td {
				min-height: 40px;
			}
			thead th {
				border: none;
			}
			.title-div {
				height: fit-content;
				font-weight: 600;
			}
			.content-div {
				width: 100vw;
				height: fit-content;
				overflow-y: auto;
			}
			.field-input-row {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-right: 16px;
			}
			.field-label {
				font-size: 14px;
			}
			.field-value-div {
				border-bottom: 1px solid;
			}
			.field-value-input {
				height: 36px;
				line-height: 36px;
				width: 100%;
				outline: none;
			}
			.input_checkbox {
				width: 16px;
				height: 16px;
			}
			.td-checkbox {
				text-align: center;
			}
			tbody {
				font-size: 12px;
			}
			.group-label {
				font-size: 14px;
			}
			.opt-btn-div {
				width: 120px;
				height: 40px;
				border: 1px solid #c8c5c5;
				border-radius: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #064220;
				font-weight: 600;
			}
			.signature-container {
				background-color: white; 
				border: dashed 3px rgb(216, 216, 216); 
				border-radius: 1em; 
				height: 15em;
				/* touch-action: none; */
			}
			/* .signature-container div {
				touch-action: none;
			} */
			span {
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<form id="check-page-one-form">
			<div class="top-content px-2">
				<div class="title-div pt-4">
					<span style="text-decoration: underline;">CR VEHICLES OPERATIONAL CHECK-LIST</span>
				</div>
				<div class="title-notes">
					<span style="font-size: 12px;">Note: Any defects found are to be reported to the transport OIC immediately.
						This checklist must be kept by units until the end of the hiring period
					</span>
				</div>
				<div class="detail-info">
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Type of Vehicle:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="oneVehicleType">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Vehicle No:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="oneVehicleNo">
						</div> 
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Indent reference:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="oneIndentReference"> 
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">CVMS/PO No:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="oneCVMSPONo">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Date& Time:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="oneTopDateTime">
						</div>
					</div>
				</div>
			</div>
			<div class="content-div px-2">
				<table aria-hidden="true">
					<thead>
						<th style="width: 75%">DESCRIPTION</th>
						<th style="width: 15%">PASSED</th>
					</thead>
					<tbody>
						<tr>
							<td colspan="1" style="font-size: 16px;">
								GENERAL CHECKS
							</td>
							<td colspan="1" style="text-align: right; padding-right: 15px;">
								<div style="display: flex;">Please <div style="width: 16px;height: 16px;border: 1px solid;border-radius: 3px;margin-left: 3px;"></div></div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="group-label" style="text-decoration: underline;">Checking Oil & Lubricate are within the Minimum and Maximum mark.</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;a) Engine Oil</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="engineOil"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;b) Brake Fluid level</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="brakeFluidlevel"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;c) Power Steering Oil</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="psOil"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;d) Radiator Water</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="radiatorWater"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;e) Hydraulic Oil (for crane & forklift)</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="hydraulicOil"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;f) Transmission Oil (for forklift)</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="transmissionOil"></td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="group-label" style="text-decoration: underline;">Checking of tyre.</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;a) All wheel nuts are intact</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allSheelNuts"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;b) Tyre side wall no damage</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="tyreSideWall"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;c) Tyre thread not bald</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="tyreThread"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;d) Same tyre tread pattern are on the same axle</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="sameTyreThread"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;e) Check that tyres are inflated</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="tyresInflated"></td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="group-label" style="text-decoration: underline;">Checking of vehicle body.</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;a) All doors are able to open and close properly</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allSoorsProperly"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;b) Battery terminal, terminal insulators mounting bracket are intact and secured</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="batteryTerminal"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;c) No damage to electrical connector</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="noDamage"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;d) All mirrors are intact; NOT loose and NOT blurred</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allMirrors"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;e) Windscreen not shattered or crack</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="windScreen"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;f) All Seat Belts are able to buckle & lock properly</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allSeatBelts"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;g) Seat are secured</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="seatSecured"></td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="group-label" style="text-decoration: underline;">Checking of vehicle functions.</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;a) Allowable free-play of Clutch/ Brake/ Steering. (not more than an inch)</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allowableFreePlay"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;b) Headlight / Signal Light / Tail Light/ Brake Light / Horn / Wipers / Reverse light / Rear Spot Light (if applicable) / instrument panel warning lights and buzzer are in working condition.</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="allLight"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;c) Fuel Tank level is not less than ¾ tank</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="fuelTankLevel"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;d) Vehicle is able to start and stop by ignition key</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="vehicleStartStop"></td>
						</tr><tr>
							<td><span>&nbsp;&nbsp;e) No abnormal noise, vibration and burning smell during ignition and while engine running</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="noiseVibration"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;f) No sign of oil leakage undercarriage</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="noSignOil"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;g) Brake is effective</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="brakeEffedtive"></td>
						</tr>
						<tr>
							<td colspan="2" class="group-label">
								The following are ADDITIONAL CHECKS for the specified platforms
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="group-label" style="text-decoration: underline;">FOR TRAILERS ONLY</span> <span class="group-label">(i.e. Flatbed, Skeletal platform, Low Loader)</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Trailer left and right stabiliser bars are in working condition</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="trailerLeftRight"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Check air coupling hose (yellow and red) for leakage after connected</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="airCouplingHose"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Check for any damage electrical connector</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="damageElectrical"></td>
						</tr>
						<tr>
							<td colspan="2" >
								<span class="group-label" style="text-decoration: underline;">Vehicle BIIs & Document</span>
							</td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Jack & Handle</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="jackHandle"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;First Aid Kit</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="firstAidKit"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Wheel Brace & Handle</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="wheelBrace"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Warning Triangle</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="warningTriangle"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Fire Extinguisher</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="fireExtinguisher"></td>
						</tr>
						<tr>
							<td><span>&nbsp;&nbsp;Annual Vehicle Inspection Disc</span></td>
							<td class="td-checkbox"><input type="checkbox" class="input_checkbox" name="annualVehicle"></td>
						</tr>
					</tbody>
					
				</table>
			</div>
			<div class="px-2">
				<div class="detail-info">
					<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;">Transport Operator</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Rank & Name: </div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="toOneRankName">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Date: </div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="toOneDate">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Time:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="toOneTime">
						</div>
					</div>
					<div class="row field-input-row py-2" style="height: 200px;">
						<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
						<div class="col-7 field-value-div" style="border: none; padding: 0px;">
							<div class="row" style="height: 24px;">
								<div class="col-6" style="height: 24px;"></div>
								<div class="col-6" style="text-align: right; height: 24px;">
									<p class="show-popup fw-bold" id="resetTooneSignature">Clear</p>
								</div>
							</div>
							<div class="signature-container" style="margin: 0px; height: 150px;">
								<div id="tooneSignature" name="tooneSignature" style="width: 100%; height: 100%;">
		
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;">Transport Leader</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Rank & Name: </div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="tlOneRankName">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Date: </div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="tlOneDate">
						</div>
					</div>
					<div class="row field-input-row py-2">
						<div class="col-5 field-label">Time:</div>
						<div class="col-7 field-value-div">
							<input class="field-value-input" name="tlOneTime">
						</div>
					</div>
					<div class="row field-input-row py-2" style="height: 200px;">
						<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
						<div class="col-7 field-value-div" style="border: none; padding: 0px;">
							<div class="row" style="height: 24px;">
								<div class="col-6" style="height: 24px;"></div>
								<div class="col-6" style="text-align: right; height: 24px;">
									<p class="show-popup fw-bold" id="resetTloneSignature">Clear</p>
								</div>
							</div>
							<div class="signature-container" style="margin: 0px; height: 150px;">
								<div id="tloneSignature" name="tloneSignature" style="width: 100%; height: 100%;">
		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

		<form id="check-page-two-form">
			<div class="top-content px-2">
				<div class="title-div pt-4">
					<span style="text-decoration: underline;">HANDING/TAKING OVER CERTIFICATE FOR GOVERNMENT FURNISHED EQUIPMENT</span>
				</div>
			</div>
			<div class="content-div px-2">
				<div class="py-3 fs-6">
					<span style="text-decoration: underline;font-weight: 600;">I, (NRIC No) , (R/NAME)</span> from <input style="width: 100px; border-bottom: 1px solid;" name="twoNricOrName">declare that I had gone through the following list with the Tenderer's driver diligently to ensure proper handing and taking over of the items listed herein:
				</div>
				<table aria-hidden="true">
					<thead>
						<th style="width: 10%">S/N</th>
						<th style="width: 60%">Description of Items</th>
						<th style="width: 10%">Qty</th>
						<th style="width: 30%">Remarks</th>
					</thead>
					<tbody>
						<tr>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
						</tr>
						<tr>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
						</tr>
						<tr>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
						</tr>
						<tr>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
							<td><input class="px-2" style="width: 100%;"></td>
						</tr>
					</tbody>
				</table>
				<div class="py-3">
					In addition, both the Tenderer's driver and I have carried out the following checks on the Government Furnished Equipment (GFE),
				</div>
				<div class="formtwo-chicklist">
					<div class="py-2">
						<span class="">1. Stow away items have been removed from GFE.</span>
						<div class="px-2">YES&nbsp;<input type="checkbox" class="checkbox-yes input_checkbox" name="stowAwayItemsYes">&nbsp;&nbsp;NO&nbsp;<input type="checkbox" class="checkbox-no input_checkbox" name="stowAwayItemsNo">&nbsp;<span style="font-size: 16px;text-decoration: underline;font-weight: 600;">(List reason below)</span></div>
						<div style="width: 100%;height: fit-content; display: none;" class="no-reason-div">
							<div class="px-2 py-1"><textarea name="stowAwayItemsReason" rows="3" type="text" class="form-control" autocomplete="off"></textarea></div>
						</div>
					</div>
					<div class="py-2">
						<span class="">2. GFE elevated parts have been depressed.</span>
						<div class="px-2">YES&nbsp;<input type="checkbox" class="checkbox-yes input_checkbox" name="GFEElevatedPartsYes">&nbsp;&nbsp;NO&nbsp;<input type="checkbox" class="checkbox-no input_checkbox" name="GFEElevatedPartsNo">&nbsp;<span style="font-size: 16px;text-decoration: underline;font-weight: 600;">(List reason below)</span></div>
						<div style="width: 100%;height: fit-content; display: none;" class="no-reason-div">
							<div class="px-2 py-1"><textarea name="GFEElevatedPartsReason" rows="3" type="text" class="form-control" autocomplete="off"></textarea></div>
						</div>
					</div>
					<div class="py-2">
						<span class="">3. Physical measuring of the GFE height by Tenderer after loaded onto the low loader has been carried out.</span>
						<div class="px-2">YES&nbsp;<input type="checkbox" class="checkbox-yes input_checkbox" name="physicalMeasuringYes">&nbsp;&nbsp;NO&nbsp;<input type="checkbox" class="checkbox-no input_checkbox" name="physicalMeasuringNo">&nbsp;<span style="font-size: 16px;text-decoration: underline;font-weight: 600;">(List reason below)</span></div>
						<div style="width: 100%;height: fit-content; display: none;" class="no-reason-div">
							<div class="px-2 py-1"><textarea name="physicalMeasuringReason" rows="3" type="text" class="form-control" autocomplete="off"></textarea></div>
						</div>
					</div>
					<div class="py-2">
						<span class="">4. A physical check and identification of the anchor point on the lashing for the GFE have been carried out.</span>
						<div class="px-2">YES&nbsp;<input type="checkbox" class="checkbox-yes input_checkbox" name="physicalCheckYes">&nbsp;&nbsp;NO&nbsp;<input type="checkbox" class="checkbox-no input_checkbox" name="physicalCheckNo">&nbsp;<span style="font-size: 16px;text-decoration: underline;font-weight: 600;">(List reason below)</span></div>
						<div style="width: 100%;height: fit-content; display: none;" class="no-reason-div">
							<div class="px-2 py-1"><textarea name="physicalCheckReason" rows="3" type="text" class="form-control" autocomplete="off"></textarea></div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="px-2 mt-4">
				<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;"><span style="text-decoration: underline;">HANDING OVER BY: </span>(UNIT)</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Rank & Name: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoUnitRankName">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Date: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoUnitDate">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Time:</div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoUnitTime">
					</div>
				</div>
				<div class="row field-input-row py-2" style="height: 200px;">
					<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
					<div class="col-7 field-value-div" style="border: none; padding: 0px;">
						<div class="row" style="height: 24px;">
							<div class="col-6" style="height: 24px;"></div>
							<div class="col-6" style="text-align: right; height: 24px;">
								<p class="show-popup fw-bold" id="resetHoUnitSignature">Clear</p>
							</div>
						</div>
						<div class="signature-container" style="margin: 0px; height: 150px;">
							<div id="hoUnitSignature" name="hoUnitSignature" style="width: 100%; height: 100%;">
	
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;"><span style="text-decoration: underline;">TAKING OVER BY: </span>(TENDERER)</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Name: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toTendererName">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Date: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toTendererDate">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Time:</div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toTendererTime">
					</div>
				</div>
				<div class="row field-input-row py-2" style="height: 200px;">
					<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
					<div class="col-7 field-value-div" style="border: none; padding: 0px;">
						<div class="row" style="height: 24px;">
							<div class="col-6" style="height: 24px;"></div>
							<div class="col-6" style="text-align: right; height: 24px;">
								<p class="show-popup fw-bold" id="resetToTendererSignature">Clear</p>
							</div>
						</div>
						<div class="signature-container" style="margin: 0px; height: 150px;">
							<div id="toTendererSignature" name="toTendererSignature" style="width: 100%; height: 100%;">
	
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;"><span style="text-decoration: underline;">HANDING OVER BY: </span>(TENDERER)</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Name: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoTendererName">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Date: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoTendererDate">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Time:</div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="hoTendererTime">
					</div>
				</div>
				<div class="row field-input-row py-2" style="height: 200px;">
					<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
					<div class="col-7 field-value-div" style="border: none; padding: 0px;">
						<div class="row" style="height: 24px;">
							<div class="col-6" style="height: 24px;"></div>
							<div class="col-6" style="text-align: right; height: 24px;">
								<p class="show-popup fw-bold" id="resetHoTendererSignature">Clear</p>
							</div>
						</div>
						<div class="signature-container" style="margin: 0px; height: 150px;">
							<div id="hoTendererSignature" name="hoTendererSignature" style="width: 100%; height: 100%;">
	
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 field-label" style="padding-top: 10px;text-decoration: underline;font-weight: 600;"><span style="text-decoration: underline;">TAKING OVER BY: </span>(UNIT)</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Rank and Name: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toUnitRankName">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Date: </div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toUnitDate">
					</div>
				</div>
				<div class="row field-input-row py-2">
					<div class="col-5 field-label">Time:</div>
					<div class="col-7 field-value-div">
						<input class="field-value-input" name="toUnitTime">
					</div>
				</div>
				<div class="row field-input-row py-2" style="height: 200px;">
					<div class="col-5 field-label" style="height: 100%;padding-top: 10px;">Signature:</div>
					<div class="col-7 field-value-div" style="border: none; padding: 0px;">
						<div class="row" style="height: 24px;">
							<div class="col-6" style="height: 24px;"></div>
							<div class="col-6" style="text-align: right; height: 24px;">
								<p class="show-popup fw-bold" id="resetToUnitSignature">Clear</p>
							</div>
						</div>
						<div class="signature-container" style="margin: 0px; height: 150px;">
							<div id="toUnitSignature" name="toUnitSignature" style="width: 100%; height: 100%;">
	
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="px-2 mt-4" style="display: flex;">
			<div style="width: 50%;display: flex;justify-content: flex-start;">
				<div class="opt-btn-div" id="cancelCheckList">
					<span class="fs-6">Cancel</span>
				</div>
			</div>
			<div style="width: 50%;display: flex;justify-content: flex-end;">
				<div class="opt-btn-div" style="background-color: #064220;" id="submitCheckList">
					<span style="color: white;" class="fs-6">Submit</span>
				</div>
			</div>
		</div>
		<div style="width: 100vw;height: 100px;"></div>
	</body>

	<script src="/mobile/task/checkList.js"></script>
</html>