body {
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
.fontsize12 {
  font-size: 12px;
}

.fontsize14 {
  font-size: 14px;
}

.fontsize16 {
  font-size: 16px;
}

.fontsize18 {
  font-size: 18px;
}

.fontsize20 {
  font-size: 20px;
}

.fontsize26 {
  font-size: 26px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0 !important;
}


.pagination{
  align-items: center!important;
}

.table th,
.table td {
  vertical-align: middle !important;
}

.table tr td{
  height: 40px;
}

.table tr th{
  height: 40px;
}

.margin-left-15 {
  margin-left: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.table-shadow {
  box-shadow: 0px 0px 4px rgb(185, 177, 177);
}
.table-common {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.modal-header-background {
  background-color: #204B4D;
  color: white;
}

.table .thead-light{
  background-color: #DFDCDC !important;
  border-color: #DFDCDC !important;
  height: 50px;
  vertical-align: middle;
}

.main-color{
  color: #204B4D;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #204B4D;
}

.bd-placeholder-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

.modal-full {
  max-width: calc(100% - 100px);
}

.jconfirm{
  z-index: 1056 !important;
}


/*system default button*/
.btn-system { 
  color: #FFFFFF; 
  background-color: #204B4D; 
  border-color: #102626; 
} 
 
.btn-system:hover, 
.btn-system:focus, 
.btn-system:active, 
.btn-system.active, 
.open .dropdown-toggle.btn-system { 
  color: #FFFFFF; 
  background-color: #0C696B; 
  border-color: #102626; 
} 
 
.btn-system:active, 
.btn-system.active, 
.open .dropdown-toggle.btn-system { 
  background-image: none; 
} 
 
.btn-system.disabled, 
.btn-system[disabled], 
fieldset[disabled] .btn-system, 
.btn-system.disabled:hover, 
.btn-system[disabled]:hover, 
fieldset[disabled] .btn-system:hover, 
.btn-system.disabled:focus, 
.btn-system[disabled]:focus, 
fieldset[disabled] .btn-system:focus, 
.btn-system.disabled:active, 
.btn-system[disabled]:active, 
fieldset[disabled] .btn-system:active, 
.btn-system.disabled.active, 
.btn-system[disabled].active, 
fieldset[disabled] .btn-system.active { 
  background-color: #204B4D; 
  border-color: #102626; 
} 
 
.btn-system .badge { 
  color: #204B4D; 
  background-color: #FFFFFF; 
}

/*lock out*/
.btn-lockout { 
  color: #ffffff; 
  background-color: #CA4C26; 
  border-color: #CA4C26; 
} 
 
.btn-lockout:hover, 
.btn-lockout:focus, 
.btn-lockout:active, 
.btn-lockout.active, 
.open .dropdown-toggle.btn-lockout { 
  color: #ffffff; 
  background-color: #CA4C26; 
  border-color: #CA4C26; 
} 
 
.btn-lockout:active, 
.btn-lockout.active, 
.open .dropdown-toggle.btn-lockout { 
  background-image: none; 
} 
 
.btn-lockout.disabled, 
.btn-lockout[disabled], 
fieldset[disabled] .btn-lockout, 
.btn-lockout.disabled:hover, 
.btn-lockout[disabled]:hover, 
fieldset[disabled] .btn-lockout:hover, 
.btn-lockout.disabled:focus, 
.btn-lockout[disabled]:focus, 
fieldset[disabled] .btn-lockout:focus, 
.btn-lockout.disabled:active, 
.btn-lockout[disabled]:active, 
fieldset[disabled] .btn-lockout:active, 
.btn-lockout.disabled.active, 
.btn-lockout[disabled].active, 
fieldset[disabled] .btn-lockout.active { 
  background-color: grey; 
  border-color: grey; 
} 
 
.btn-lockout .badge { 
  color: #CA4C26; 
  background-color: #ffffff; 
}
/*edit*/
.btn-edit { 
  color: #ffffff; 
  background-color: #549D27; 
  border-color: #549D27; 
} 
 
.btn-edit:hover, 
.btn-edit:focus, 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  color: #ffffff; 
  background-color: #549D27; 
  border-color: #549D27; 
} 
 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  background-image: none; 
} 
 
.btn-edit.disabled, 
.btn-edit[disabled], 
fieldset[disabled] .btn-edit, 
.btn-edit.disabled:hover, 
.btn-edit[disabled]:hover, 
fieldset[disabled] .btn-edit:hover, 
.btn-edit.disabled:focus, 
.btn-edit[disabled]:focus, 
fieldset[disabled] .btn-edit:focus, 
.btn-edit.disabled:active, 
.btn-edit[disabled]:active, 
fieldset[disabled] .btn-edit:active, 
.btn-edit.disabled.active, 
.btn-edit[disabled].active, 
fieldset[disabled] .btn-edit.active { 
  background-color: grey; 
  border-color: grey; 
} 
 
.btn-edit .badge { 
  color: #549D27; 
  background-color: #ffffff; 
}
/*Deactivate*/
.btn-deactivate { 
  color: #ffffff; 
  background-color: #FF0000; 
  border-color: #FF0000; 
} 
 
.btn-deactivate:hover, 
.btn-deactivate:focus, 
.btn-deactivate:active, 
.btn-deactivate.active, 
.open .dropdown-toggle.btn-deactivate { 
  color: #ffffff; 
  background-color: #ff0000; 
  border-color: #FF0000; 
} 
 
.btn-deactivate:active, 
.btn-deactivate.active, 
.open .dropdown-toggle.btn-deactivate { 
  background-image: none; 
} 
 
.btn-deactivate.disabled, 
.btn-deactivate[disabled], 
fieldset[disabled] .btn-deactivate, 
.btn-deactivate.disabled:hover, 
.btn-deactivate[disabled]:hover, 
fieldset[disabled] .btn-deactivate:hover, 
.btn-deactivate.disabled:focus, 
.btn-deactivate[disabled]:focus, 
fieldset[disabled] .btn-deactivate:focus, 
.btn-deactivate.disabled:active, 
.btn-deactivate[disabled]:active, 
fieldset[disabled] .btn-deactivate:active, 
.btn-deactivate.disabled.active, 
.btn-deactivate[disabled].active, 
fieldset[disabled] .btn-deactivate.active { 
  background-color: grey; 
  border-color: grey; 
} 
 
.btn-deactivate .badge { 
  color: #FF0000; 
  background-color: #ffffff; 
}

.btn-trip { 
  color: #ffffff; 
  background-color: #339061; 
  border-color: #307310; 
} 
 
.btn-trip:hover, 
.btn-trip:focus, 
.btn-trip:active, 
.btn-trip.active, 
.open .dropdown-toggle.btn-trip { 
  color: #ffffff; 
  background-color: #459E21; 
  border-color: #307310; 
} 
 
.btn-trip:active, 
.btn-trip.active, 
.open .dropdown-toggle.btn-trip { 
  background-image: none; 
} 
 
.btn-trip.disabled, 
.btn-trip[disabled], 
fieldset[disabled] .btn-trip, 
.btn-trip.disabled:hover, 
.btn-trip[disabled]:hover, 
fieldset[disabled] .btn-trip:hover, 
.btn-trip.disabled:focus, 
.btn-trip[disabled]:focus, 
fieldset[disabled] .btn-trip:focus, 
.btn-trip.disabled:active, 
.btn-trip[disabled]:active, 
fieldset[disabled] .btn-trip:active, 
.btn-trip.disabled.active, 
.btn-trip[disabled].active, 
fieldset[disabled] .btn-trip.active { 
  background-color: #339061; 
  border-color: #307310; 
} 
 
.btn-trip .badge { 
  color: #339061; 
  background-color: #ffffff; 
}

.btn-white { 
  color: #9C9C9C; 
  background-color: #FFFFFF; 
  border-color: #D7E0D3; 
} 
 
.btn-white:hover, 
.btn-white:focus, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  color: #9C9C9C; 
  background-color: #EDEDED; 
  border-color: #D7E0D3; 
} 
 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  background-image: none; 
} 
 
.btn-white.disabled, 
.btn-white[disabled], 
fieldset[disabled] .btn-white, 
.btn-white.disabled:hover, 
.btn-white[disabled]:hover, 
fieldset[disabled] .btn-white:hover, 
.btn-white.disabled:focus, 
.btn-white[disabled]:focus, 
fieldset[disabled] .btn-white:focus, 
.btn-white.disabled:active, 
.btn-white[disabled]:active, 
fieldset[disabled] .btn-white:active, 
.btn-white.disabled.active, 
.btn-white[disabled].active, 
fieldset[disabled] .btn-white.active { 
  background-color: #FFFFFF; 
  border-color: #D7E0D3; 
} 
 
.btn-white .badge { 
  color: #FFFFFF; 
  background-color: #9C9C9C; 
}
/* preview-close */
.btn-preview-close { 
  color: #FFFFFF; 
  background-color: #2BB982; 
  border-color: #2BB982; 
} 
 
.btn-preview-close:hover, 
.btn-preview-close:focus, 
.btn-preview-close:active, 
.btn-preview-close.active, 
.open .dropdown-toggle.btn-preview-close { 
  color: #FFFFFF; 
  background-color: #0EB374; 
  border-color: #2BB982; 
} 
 
.btn-preview-close:active, 
.btn-preview-close.active, 
.open .dropdown-toggle.btn-preview-close { 
  background-image: none; 
} 
 
.btn-preview-close.disabled, 
.btn-preview-close[disabled], 
fieldset[disabled] .btn-preview-close, 
.btn-preview-close.disabled:hover, 
.btn-preview-close[disabled]:hover, 
fieldset[disabled] .btn-preview-close:hover, 
.btn-preview-close.disabled:focus, 
.btn-preview-close[disabled]:focus, 
fieldset[disabled] .btn-preview-close:focus, 
.btn-preview-close.disabled:active, 
.btn-preview-close[disabled]:active, 
fieldset[disabled] .btn-preview-close:active, 
.btn-preview-close.disabled.active, 
.btn-preview-close[disabled].active, 
fieldset[disabled] .btn-preview-close.active { 
  background-color: #2BB982; 
  border-color: #2BB982; 
} 
 
.btn-preview-close .badge { 
  color: #2BB982; 
  background-color: #FFFFFF; 
}

.jconfirm .jconfirm-box.jconfirm-type-preview {
  border-top: solid 10px #2BB982;
}

.windowLabel {
  border: 1px solid rgba(255,255,255,0);
  background: rgba(243,245,246,.8);
  display: inline-block;
  top: 7px;
  right: 5px;
  text-align: center;
  font-size: 11px;
  border-radius: 20px;
  z-index: 30;
  color: #7f94a1;
  line-height: 23px;
  padding: 0 7px;
  -moz-transition: all .1s;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  -ms-transition: all .1s;
  transition: all .1s;
}

.span {
  color: #23527c;
}

.modal-backdrop.show, .modal-backdrop.fade {
  width: 100% !important;
  height: 100% !important;
}

.page-link {
  color: #204B4D;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  background-color: #204B4D !important;
  border-color: #204B4D !important;
}