<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Service Provider</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/javascripts/datatables/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/indent/serviceProvider.css">

		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="/javascripts/datatables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/javascripts/datatables/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</head>

	<body>
		<div class="container-fluid p-5 pt-3">
			<div class="row justify-content-between">
				<div class="col-auto">
					<h3>Service Provider</h3>
				</div>
				<div class="col-auto">
					<div class="row align-items-center">
						<div class="col-auto">
							<select class="form-select">
								<option value="1">Performance A</option>
								<option value="2">Performance B</option>
								<option value="3">Performance C</option>
							</select>
						</div>
						<div class="col-auto px-0">
							<span class="ms-4" style="font-size: 18px;">Price:</span>
						</div>
						<div class="col-auto">
							<img style="cursor: pointer;" class="order-price" src="./images/provider/Price 1.svg" data-order="asc" alt="asc">
						</div>
						<div class="col-auto">
							<img style="cursor: pointer;" class="order-price" src="./images/provider/Price 2.svg" data-order="desc" alt="desc">
						</div>
					</div>
				</div>
					
			</div>
			
			<div class="row mt-2" id="service-provider-content">
				
			</div>
		</div>
		<%- include('../indent/serviceProviderTemplate.html') -%>
		
	</body>
</html>
