/* template 2 */
.TickerNews.default_theme_2{
	background-color: #404040;
	position: absolute;
	bottom: 0;
	z-index: 10000;
}

.TickerNews.default_theme_2 *{
	box-sizing:border-box;
}

.TickerNews.default_theme_2 .leftside{
	position: relative;
	left:0;
	width: 140px;
	float:left;
}

.TickerNews.default_theme_2 .leftside h4{
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	color:white;
	padding:0 15px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	background-color: #272727;
}


.TickerNews.default_theme_2 .ti_wrapper{
	position: absolute;
	left: 140px;
	float:left;
	border-top: 1px solid #F7961E;
}

.TickerNews.default_theme_2 .ti_news span{
	font-size: 100%;
	margin-right: 20px;
	color:white;
}

/* template 2 */

/* style css */
.TickerNews{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.ti_wrapper{
	width: calc(100% - 140px);
	position: relative;
	overflow: hidden;
}
.ti_slide{
	width: 30000px;
	position: relative;
	left: 0;
	top: 0;
}
.ti_content{
	width: 8000px;
	position: relative;
	float:left;
}
.ti_news{
	float:left;
	margin-right: 50px;
}
/* style css */
.TickerNews-hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
	display: none;
	bottom: 0;
}

.news-img{
	position: absolute;
	bottom: 2px;
	left: 0;
	background-color: #333333;
	z-index: 100;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	display: flex;
	align-items: center;
	border: 2px solid #404040;
}
.news-img img{
	width: 42.7px;
	height: 29.4px;
	margin-left: 7px;
}

.critical-title{
	position: absolute;
	bottom: 29px;
	left: 40px;
	height: 24px;
	line-height: 24px;
	color: #F7961E;
	width: 170px;
	border: 1px solid #F7961E;
	border-radius: 15px;
	text-align: center;
	background-color: #30393E;
	text-transform: uppercase;
}