
body {
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.draggable-element {
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
    color: rgb(51, 51, 51);
    font-size: 30px;
    cursor: move;
}

.drag-list {
    width: 400px;
    margin: 0 auto;
}

.drag-list > li {
    list-style: none;
    margin: 5px 0;
    font-size: 24px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.drag-list .title {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.drag-list .drag-area {
    display: inline-block;
    background-image: url(../icons/drag-waypoint.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    cursor: move;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.code {
    width: 600px;
    margin: 22px auto;
    position: relative;
}

.code::before {
    content: 'Code';
    background: rgb(80, 80, 80);
    width: 96%;
    position: absolute;
    padding: 8px 2%;
}

.code pre {
    margin-top: 50px;
    padding: 0 13px;
    font-size: 1em;
}
