<div class="modal fade" id="indentHistoryModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-header modal-header-background">
                <h5 class="modal-title">Indent History</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid pb-4">
                    <div class="card-shadow pb-3">
                        <div class="row m-0 p-0 bd-flow align-items-center">
                            <span>Trip Flow</span>
                        </div>
                        <div class="row m-0">
                            <ul class="custom-timeline px-5 pt-4 modal-indent-flow">
                                <!-- <li class="custom-timeline-item custom-timeline-item-create">
                                    <div class="custom-timeline-status custom-timeline-content-action">Create</div>
                                    <div class="row custom-timeline-content">
                                        <div class="mb-2">
                                            <label class="fw-bold">Bob(RQ)</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="color-time">08-10 10:00:00</label>
                                        </div>
                                        <div class="mb-2">
                                            (This indent is urgent)
                                        </div>
                                    </div>
                                </li>
                                <li class="custom-timeline-item custom-timeline-item-create">
                                    <i class="custom-timeline-axis"></i>
                                    <div class="row custom-timeline-content">
                                        <div class="mb-2">
                                            <label class="fw-bold">Bob(RQ)</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="color-time">08-10 10:00:00</label>
                                        </div>
                                        <div class="mb-2">
                                            (This indent is urgent)
                                        </div>
                                    </div>
                                </li>
                                <li class="custom-timeline-item custom-timeline-item-create">
                                    <i class="custom-timeline-axis"></i>
                                    <div class="row custom-timeline-content">
                                        <div class="mb-2">
                                            <label class="fw-bold">Bob(RQ)</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="color-time">08-10 10:00:00</label>
                                        </div>
                                        <div class="mb-2">
                                            (This indent is urgent)
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="card-shadow mt-4">
                        <div class="row m-0 p-0 bd-flow align-items-center">
                            <span>Driver Flow</span>
                        </div>
                        <div class="row m-0">
                            <table class="table w-100" aria-hidden="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Task ID</th>
                                        <th scope="col">POC Name</th>
                                        <th scope="col">POC Number</th>
                                        <th scope="col">Driver Name</th>
                                        <th scope="col">Driver Number</th>
                                        <th scope="col">Vehicle Number</th>
                                        <th scope="col">Driver Status</th>
                                    </tr>
                                </thead>
                                <tbody class="modal-driver-flow">
                                    <!-- <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <ul class="custom-timeline">
                                                <li class="custom-timeline-item custom-timeline-item-create">
                                                    <i class="custom-timeline-axis"></i>
                                                    <div class="row custom-timeline-content">
                                                        <div>
                                                            <label class="fw-bold">Bob(RQ)</label>
                                                            <label class="color-time ms-3">10:00:00</label>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="custom-timeline-item custom-timeline-item-create">
                                                    <i class="custom-timeline-axis"></i>
                                                    <div class="row custom-timeline-content">
                                                        <div>
                                                            <label class="fw-bold">Bob(RQ)</label>
                                                            <label class="color-time ms-3">10:00:00</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>