<div class="modal fade" id="driverDetailModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-header modal-header-background">
                <h5 class="modal-title" id="driverModalLabel">Driver Detail</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-driver-detail" aria-hidden="true">
                    <!-- <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Job ID</th>
                            <th scope="col">Task Status</th>
                            <th scope="col">TSP</th>
                            <th scope="col">POC Name</th>
                            <th scope="col">POC Number</th>
                            <th scope="col">Driver Name<br>(Driver Status)</th>
                            <th scope="col">Driver Number</th>
                            <th scope="col">Vehicle Number</th>
                            <th scope="col">Arrive Time</th>
                            <th scope="col">Depart Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
</div>