<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Urgent</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/javascripts/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../javascripts/jquery-confirm/jquery-confirm.css">
    <link rel="stylesheet" href="/indent/indent.css">
    <link rel="stylesheet" href="/indent/history.css">
    
</head>

<body>
    <div class="container-fluid h-100 p-0 m-0">
        <div class="shadow scroll-fixed-top">
            <div class="row h-100 mx-0 justify-content-around py-3">
                <div class="col-12 align-self-center">
                    <!-- <div class="indents-title main-color">Urgent Indent</div> -->
                    <div class="row m-0 justify-content-between">
                        <div class="col-auto p-0" id="indent-filter">
                            <div class="row align-items-center">
                                <div class="col-auto pe-0">
                                    <select class="form-select" name="indent-status" id="indent-status">
                                        <option value="">Indent Status: All</option>
                                        <option value="waitcheck">Pending</option>
                                        <option value="ready">Ready</option>
                                        <option value="started">Started</option>
                                        <option value="completed">Completed</option>
                                        <option value="cancelled">Cancelled</option>
                                    </select>
                                </div>
                                <div class="col-auto pe-0">
                                    <select class="form-select" name="indent-vehicle-type" id="indent-vehicle-type">
                                        <option value="">Resource: All</option>
                                        <option value="Ford Everest OUV">Ford Everest OUV/Agilis (Auto)</option>
                                        <option value="5 Ton GS (Auto)">5 Ton GS (Auto)/6 Ton GS</option>
                                    </select>
                                </div>
                                <div class="col-auto pe-0">
                                    <input type="text" class="form-control" name="execution-date" id="execution-date" placeholder="Execution Date" autocomplete="off">
                                </div>
                                <div class="col-auto pe-0">
                                    <input type="text" class="form-control input-width" name="created-date" id="created-date" placeholder="Created Date" autocomplete="off">
                                </div>
                                <div class="col-auto pe-0">
                                    <input type="text" class="form-control input-width" name="indent-id" id="indent-id" placeholder="Indent ID" autocomplete="off">
                                </div>
                                <div class="col-auto pe-0">
                                    <div class="position-relative" id="unit1">
                                        <input type="text" class="form-select input-width" id="indent-unit" name="indent-unit" autocomplete="off" readonly placeholder="Unit">
                                        <div class="unit-search-select shadow">
                                            <input type="text" class="form-control" autocomplete="off" id="search-unit1" placeholder="Search">
                                            <div class="form-search-select">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto pe-0">
                                    <select id="hubSelect" name="hubSelect" class="form-select">
                                    </select>
                                </div>
                                <div class="col-auto pe-0">
                                    <select id="nodeSelect" name="nodeSelect" class="form-select">
                                    </select>
                                </div>
                                <div class="col-auto pe-0">
                                    <button class="btn btn-clear" name="clean-all" onclick="CleanAllClick()">Clear all</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="row align-items-center" id="opration-btns">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-bottom">
            <div class="row m-0" style="padding: 10px;">
                <div class="table-common table-shadow">
                    <table class="table urgent-indent-table pb-2 w-100 text-center fixed-table">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="urgentDriverModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content border-0">
                <div class="modal-header modal-header-background">
                    <h5 class="modal-title">View Driver</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center m-2">
                        <div class="col-12" id="urgentDriverHistory">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../urgentModal.html') -%>

    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script src="../javascripts/axios/axios.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/datatables/jquery.dataTables.min.js"></script>
    <script src="/javascripts/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/javascripts/layui/layui.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="/js/pageHelper.js"></script>
    <script src="../javascripts/jquery-confirm/jquery-confirm.js"></script>
    <script src="../javascripts/jquery-confirm/custom-confirm.js"></script>
    <script src="/job/job-common.js"></script>
    <script src="/schedule/colors.js"></script>
    <script src="/js/userValidation.js"></script>
    <script src="/indent/dateSelector.js"></script>
    <script src="/urgent/urgentFilter.js"></script>
    <script src="/urgent/urgentModal.js"></script>
    <script src="/urgent/urgentIndent.js"></script>
    <script src="/urgent/urgentIndex.js"></script>
    <script type="text/javascript" src="../resize.js"></script>

</body>

</html>